* {
    overflow: auto;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

body {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}

body, body * {
    font-size: 98%;
}



/*  *************************************
                   Columns
    ************************************* */
div#Information , div#Lottery {
    width:49%;
}
div#Information{
    float:left;
}

div#Lottery{
    float:right;
}
div.Header {
    text-align: center;
    font-weight: bold;
    font-size:130%;
    margin-bottom: 0.20em;
}





/*  *************************************
             Information Column
    ************************************* */
    
div#Information div.Label {
    float:left;
    font-weight:bold;
}

div#BlankTeam {
    display: none;
}

div.Team {
    margin-bottom:0.50em;
}

div.Team > input:not([name="TeamName"]) {
    text-align: center;
}

div#FirstTeam  input[name="AddTeam"], 
div.Team           input[name="RemoveTeam"]{
    width:  7%;
}
div.Team input[name="TeamName"], div#TeamName {
    width: 45%;
}
div.Team input[name="DraftPick"], div#DraftPick {
    width: 8%;
    text-align: center;
}
div.Team input[name="InLottery"], div#InLottery {
    width: 15%;
    text-align: center;
}
div.Team input[name="PickChance"], div#PickChance {
    width: 15%;
    padding: 0 auto;
    text-align: center;
}



/*  *************************************
             Lottery Column
    ************************************* */
div#Lottery {
    position: relative;
}
div#Lottery div.Overlay {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
}
    
    
    

